.jumbotron {
  background: url(img/img\ background.png);
  background-size: cover;
  overflow: hidden;
  height: 100vh;
}

#tentang {
  height: 100vh;
  position: relative;
  background-color: #1f2833;
}

#pencapaian {
  background-color: #0b0c10;
}

/* #galeri {
  background-color: seashell;
} */

section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

#hubungi {
  background-color: #1f2833;
}

.footer {
  background-color: #0b0c10;
}

.galeri-img {
  width: 100%;
}

#galeri .row > * {
  padding: 0;
}

/* pencapaian section */
.pencapaian-box {
  position: relative;
  background-color: #1f2833;
  border-radius: 10px;
  height: 500px;
  transform-style: preserve-3d;
}

.pencapaian-box::before {
  content: "MY";
  position: absolute;
  color: white;
  font-size: 6em;
  font-weight: bold;
  font-style: italic;
  top: 30px;
  left: 32%;
  transform: translate3d(0, 0, 50px);
  opacity: 0;
  transition: 0.5s;
}

.pencapaian-box:hover::before {
  opacity: 0.4;
}

.pencapaian-box::after {
  content: "Certificate";
  position: absolute;
  color: white;
  font-size: 4em;
  font-weight: bold;
  font-style: italic;
  top: 350px;
  left: 12%;
  transform: translate3d(0, 0, 50px);
  opacity: 0;
  transition: 0.5s;
}

.pencapaian-box:hover::after {
  opacity: 0.4;
}

.pencapaian-img {
  top: 10%;
  left: 10%;
  transform: translate3d(18%, 70%, 150px);
  max-width: 300px;
  transition: 0.5s;
}

.pencapaian-box:hover .pencapaian-img {
  transform: translate3d(18%, 70%, 100px) rotate(5deg) scale(1.2);
}

.detail-button {
  background-color: #0b0c10;
  position: absolute;
  bottom: 20px;
  left: 40%;
  transform: translate3d(0, 0, 30px);
  opacity: 0;
  transition: 0.5s;
}

.pencapaian-box:hover .detail-button {
  opacity: 1;
  bottom: 10px;
  transform: translate3d(0, 0, 30px);
}
