.jumbotron {
  padding-top: 6rem;
  background-color: #6495ed;
}

#pencapaian {
  background-color: #6495ed;
}

section {
  padding-top: 5rem;
}

#hubungi {
  background-color: #6495ed;
}

.galeri-img {
  width: 100%;
}

#galeri .row > * {
  padding: 0;
}
