.jumbotron {
  padding-top: 6rem;
  background-color: cornflowerblue;
}

#karya {
  background-color: #a2d9ff;
}

section {
  padding-top: 5rem;
}

.galeri-img {
  width: 100%;
}

#galeri .row > * {
  padding: 0;
}
